* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-size: 0;
}

/* div {
    background-color: blue;
    width: 100px;
    height: 100px;
    padding: 20px;
    border: 5px solid black;
    margin-left: 20px;
} */

.parent {
    width: 500px;
    height: 500px;
    border: dashed 1px black;
}

.child,.child2, .child3, .child4 {
    padding: 10px;
    display: inline-block;
}

.child {
    background-image: url(https://scontent.feoh4-3.fna.fbcdn.net/v/t1.6435-9/214341407_10225148881885870_7920021642095080006_n.jpg?_nc_cat=102&ccb=1-3&_nc_sid=09cbfe&_nc_eui2=AeEdQcG5UPve-EgxGEOPVU8g3ZvB8mesePLdm8HyZ6x48vCSEk8_gHzvsr9449anr_0&_nc_ohc=-rPgQkn0kmQAX9E0WNg&_nc_ht=scontent.feoh4-3.fna&oh=65127144edd2652348d74e00cf8d74fb&oe=60FAB7EA);
    height: 210px;
    width: 230px;
    background-size: contain;
}

.child2 {
    background-color: red;
    height: 210px;
    width: 230px;
}

.child3 {
    background-color: salmon;
    height: 230px;
    width: 210px;
}

.child4 {
    background-color: green;
    height: 230px;
    width: 210px;
}

.child, .child2 {
    border-top: solid 10px gray;
    border-bottom: solid 10px gray;
}

.child3, .child4 {
    border-right: solid 10px cyan;
    border-left: solid 10px cyan;
}

